# includes html code for the original bootstrap links, nav bar code, container block
# Audra to copy her base.html from her templates folder

<!-- Jinja template for all html files -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} | Penn Chats</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="https://user-images.githubusercontent.com/84137452/124787872-da51ca80-df16-11eb-8ab6-954a5e3d1bee.png"/>
</head>


<body>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="column">
                <img src="https://user-images.githubusercontent.com/84137452/124787872-da51ca80-df16-11eb-8ab6-954a5e3d1bee.png"
                class="img-responsive"
                 width="12%"
                 height="12%"
                     align="left"
                alt="PennChats logo">
            </div>
            <div class="column">
                <h1 class="display-4">Penn Chats</h1>
            </div>
        </div>


    </div>
</div>

<div class="container"><h2>{% block head %} {% endblock %}</h2></div>


<!--    <img-->
<!--            src="https://user-images.githubusercontent.com/84137452/124787872-da51ca80-df16-11eb-8ab6-954a5e3d1bee.png"-->
<!--            alt="Penn Chats Logo"-->
<!--            class="responsive">-->

    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>