{# includes html code for the original bootstrap links, nav bar code, container block #}
{# Audra to copy her base.html from her templates folder #}

<!-- Jinja template for all html files -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %} | Penn Chats</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="https://user-images.githubusercontent.com/84137452/124787872-da51ca80-df16-11eb-8ab6-954a5e3d1bee.png"/>
  </head>


  <body>

  <div class="container"><h2>{% block head %} {% endblock %}</h2></div>

<!-- Bootstrap CDN navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand">
            <img alt="Penn Chats logo"
                 src="https://user-images.githubusercontent.com/84137452/124787872-da51ca80-df16-11eb-8ab6-954a5e3d1bee.png"
                 style="max-width:40px">
        </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('core.index') }}">Penn Chats</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('core.index') }}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('core.info') }}">About Us</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{url_for('students.edit_profile')}}">Edit Profile</a></li>
            <li><a href="{{url_for('students.sign_up')}}">Sign Up for PennChats</a></li>
            <li><a href="{{url_for('students.my_meetings')}}">My Meetings</a></li>
            <li><a href="{{url_for('students.logout')}}">Logout</a></li>
          {% else %}
            <li><a href="{{url_for('students.login')}}">Login</a></li>
            <li><a href="{{url_for('students.register')}}">Register</a></li>
          {% endif %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

      <div class="container">
          {% block content %} {% endblock %}
      </div>
  </body>
</html>
