{% extends "base.html" %}

{% block title %} Create Profile {% endblock %}

{% block head %} Create Profile {% endblock %}

{% block content %}

<!-- import form template -->
{% from "_formhelpers.html" import render_field %}

<form class="form form-horizontal" action="{{url_for('students.create_profile')}}" method="POST" role="form">
    <!-- First Name Field -->
    {{ render_field(form.first_name) }}
    <br>

    <!-- Last Name Field -->
    {{ render_field(form.last_name) }}
    <br>

    <!-- City Field -->
    {{ render_field(form.city) }}
    <br>

    <!-- State Field -->
    {{ render_field(form.state) }}
    <br>

    <!-- Country Field -->
    {{ render_field(form.country) }}
    <br>

    <!-- Primary Class Field -->
    {{ render_field(form.primary_class) }}
    <br>

    <!-- Secondary Class Field -->
    {{ render_field(form.secondary_class) }}
    <br>

    <!-- Class Field -->
    {{ render_field(form.classes_checkboxes) }}
    <br>

    <!-- Current Class Field -->
    {{ render_field(form.current_class) }}
    <br>

    <!-- Primary Interest Field -->
    {{ render_field(form.primary_interest) }}
    <br>

    <!-- Secondary Interest Field -->
    {{ render_field(form.secondary_interest) }}
    <br>

    <!-- Others Interests Field -->
    {{ render_field(form.other_interests) }}
    <br>

    <!-- Cohort Field -->
    {{ render_field(form.cohort) }}
    <br>

    <!-- LinkedIn Field -->
    {{ render_field(form.linkedin) }}
    <br>

    <!-- Bio Field -->
    {{ render_field(form.bio) }}
    <br>

    <!-- Submit Field -->
    {{ form.submit }}

</form>

{% endblock %}