{% extends "base.html" %}

{% block title %} Edit Profile {% endblock %}

{% block head %} Edit Profile {% endblock %}

{% block content %}
<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
    <h2>The current username is: {{current_user.username}}</h2>
    <form method="POST" action = "" style="padding:5px;">
        {{ form.hidden_tag() }}
        {# <!-- Username Field -->
        {{ form.username.label }}
        {{ form.username }}
        <br> #}
        
        <!-- First Name Field -->
        {{ form.first_name.label }}:
        {{ form.first_name }}
        <br>
        
        <!-- Last Name Field -->
        {{ form.last_name.label }}:
        {{ form.last_name }}
        <br>

        <!-- Cohort Field -->
        {{ form.cohort.label }}:
        {{ form.cohort }}
        <br>
        
        <!-- City Field -->
        {{ form.city.label }}:
        {{ form.city }}
        <br>

        <!-- State Field -->
        {{ form.state.label }}:
        {{ form.state }}
        <br>

        <!-- Country Field -->
        {{ form.country.label }}:
        {{ form.country }}
        <br>
        
        <!-- LinkedIn Field -->
        {{ form.linkedin.label }}:
        {{ form.linkedin }}
        <br>
        
        <!-- Current Courses Field -->
        {{ form.current_courses.label }}:
        {{ form.current_courses }}
        <br>
        
        <!-- Past Courses Field -->
        {{ form.past_courses.label }}:
        {{ form.past_courses }}
        <br>
        
        <!-- Interests Field -->
        {{ form.interests.label }}:
        {{ form.interests }}
        <br>
        
        <!-- Course to Match Field -->
        {{ form.course_id_to_match.label }}:
        {{ form.course_id_to_match }}
        <br>
        
        <!-- Interest to Match Field -->
        {{ form.interest_id_to_match.label }}:
        {{ form.interest_id_to_match }}
        <br>
        
        <!-- Bio Field -->
        {{ form.bio.label }}:
        {{ form.bio }}
        <br>

        <!-- Submit Field -->
        {{ form.submit() }}
    </form>
  </div>
</div>


{% endblock %}
