{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="jumbotron">
    <h2>Login</h2>
    <form method="POST" style="padding:5px;">
        <!-- Email Field -->
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
        <br>

        <!-- Password Field -->
        {{ render_field(form.password) }}
        <br>

        <!-- Submit Field -->
        {{ form.submit() }}
    </form>
</div>


{% endblock %}
