{% extends "base.html" %}

{% block title %} Sign Up for Next Week's Chat {% endblock %}

{% block head %} Sign Up for Next Week's Chat {% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<form class="form form-horizontal" method="POST" role="form">

    <!-- Primary Time Field -->
    {{ form.prime_time_id.label }}:
    {{ form.prime_time_id }}
    <br>

    <!-- Secondary Time Field -->
    {{ form.secondarytime.label }}:
    {{ form.secondarytime }}
    <br>

    <!-- Matching Field -->
    {{ form.matching.label }}:
    {{ form.matching }}
    <br>

    <!-- Submit Field -->
    {{ form.match }}
</form>

{% endblock %}