{% extends "base.html" %}

{% block title %} Sign Up for Next Week's Chat {% endblock %}

{% block head %} Sign Up for Next Week's Chat {% endblock %}

{% block content %}

<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
    <form method="POST" style="padding:5px;">

    <!-- Primary Time Field -->
    {{ form.primary_time.label }}:
    {{ form.primary_time }}
    <br>

    <!-- Secondary Time Field -->
    {{ form.secondary_time.label }}:
    {{ form.secondary_time }}
    <br>

    <!-- Matching Field -->
    {{ form.matching.label }}:
    {{ form.matching }}
    <br>

    <!-- Submit Field -->
    {{ form.match }}
</form>
</div>
</div>

{% endblock %}