{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block head %} Register {% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="jumbotron">
    <form method="POST" style="padding:5px;">
        <!-- Email Field -->
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
<!--        {{ form.email.label }}:-->
<!--        {{ form.email }}-->
        <br>

        <!-- Username Field -->
        {{ render_field(form.username) }}
<!--        {{ form.username.label }}:-->
<!--        {{ form.username }}-->
        <br>

        <!-- Student_id Field -->
        {{ render_field(form.student_id) }}
<!--        {{ form.student_id.label }}:-->
<!--        {{ form.student_id }}-->
        <br>

        <!-- Password Field -->
        {{ render_field(form.password) }}
<!--        {{ form.password.label }}:-->
<!--        {{ form.password }}-->
        <br>

        <!-- Confirm Password Field -->
        {{ render_field(form.pass_confirm) }}
<!--        {{ form.pass_confirm.label }}:-->
<!--        {{ form.pass_confirm }}-->
        <br>

        <!-- Submit Field -->
        {{ form.submit }}
    </form>
</div>


{% endblock %}