{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block head %} Register {% endblock %}

{% block content %}
<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
    <form method="POST" style="padding:5px;">
        <!-- Email Field -->
        {{ form.hidden_tag() }}
        {{ form.email.label }}:
        {{ form.email }}
        <br>

        <!-- Username Field -->
       <!--  {{ form.username.label }}:-->
        <!--{{ form.username }} -->
        <!--<br> -->

        <!-- Student_id Field -->
        {{ form.student_id.label }}:
        {{ form.student_id }}
        <br>

        <!-- Password Field -->
        {{ form.password.label }}:
        {{ form.password }}
        <br>

        <!-- Confirm Password Field -->
        {{ form.pass_confirm.label }}:
        {{ form.pass_confirm }}
        <br>

        <!-- Submit Field -->
        {{ form.submit }}
    </form>
  </div>
</div>


{% endblock %}
