<!-- Jinja template for all html files -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} | Penn Chats</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link rel="shortcut icon" type="image/jpg" href="https://user-images.githubusercontent.com/84137452/121616961-f22a5180-ca31-11eb-9dfb-9c93b6f03d53.jpg"/>
</head>
<body>
    <h1><center>Penn Chats<img
            src="https://user-images.githubusercontent.com/84137452/121616961-f22a5180-ca31-11eb-9dfb-9c93b6f03d53.jpg"
            alt="Penn Chats Logo"
            class="responsive"></center></h1>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>