{% extends "base.html" %}

{% block title %} Penn Chats {% endblock %}

{% block heading %} {% endblock %}

{% block content%}
    <!-- Should make into header class -->
<!--    <center><img-->
<!--            src="https://user-images.githubusercontent.com/84137452/122130241-56b82880-ce05-11eb-86ff-af092808b0ee.jpg"-->
<!--            alt="Students talking"-->
<!--            class="responsive_banner"-->
<!--    ></center>-->

    <img alt="Students having a conversation"
         class="img-responsive"
         src="https://user-images.githubusercontent.com/84137452/125167996-4fb8d780-e171-11eb-8ff6-5efd9d9cc9ff.jpg">

    <!-- Make regular paragraph? -->
    <h3><center><div>Welcome to Penn Chats! Penn Chats is a platform designed to connect
        MCIT Online students. Tell us what classes you
        are taking, your interests, and when you'd like to meet,
        and we'll match you with a group of 2-5 students for a chat!</div></center></h3>

    <center>
        <a href="{{ url_for('signup') }}">
            <button type="button" name="button" class="btn btn-primary btn-lg">Sign Up</button></a>
        <a href="{{ url_for('login') }}">
            <button type="button" name="button" class="btn btn-primary btn-lg">Login</button></a>
    </center>
{% endblock %}