{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block head %} Login {% endblock %}

{% block content %}
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
            <form action="{{url_for('signup')}}" method="POST" style="padding:5px;">
                <!-- Email Field -->
                {{ form.email.label }}:
                {{ form.email }}
                <br>

                <!-- Password Field -->
                {{ form.password.label }}:
                {{ form.password }}
                <br>

                <!-- Submit Field -->
                {{ form.login }}
            </form>
        </div>
</div>


{% endblock %}