{% extends "base.html" %}

{% block title %} Member Area {% endblock %}

{% block heading %} {% endblock %}

{% block content %}

<h2><div><center>Welcome back, _____! What would you like to do?</center></div></h2>

<center>
  <button class="button homepage_button">Match me this week</button>
</center>
<center>
  <button class="button homepage_button">Edit profile</button>
</center>
<center>
  <a href="{{ url_for('test_matches') }}"> <button class="button homepage_button">View current/previous matches</button></a>
</center>

{% endblock %}