{% extends "base.html" %}

{% block title %} Sign Up {% endblock %}

{% block heading %} {% endblock %}

{% block content %}
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
            <form action="{{url_for('test_signup')}}" method="POST" style="padding:5px;">
                <!-- First Name Field -->
                {{ form.first_name.label }}:
                {{ form.first_name }}
                <br>

                <!-- Last Name Field -->
                {{ form.last_name.label }}:
                {{ form.last_name }}
                <br>

                <!-- City Field -->
                {{ form.city.label }}:
                {{ form.city }}
                <br>

                <!-- State Field -->
                {{ form.state.label }}:
                {{ form.state }}
                <br>

                <!-- Country Field -->
                {{ form.country.label }}:
                {{ form.country }}
                <br>

                <!-- LinkedIn Field -->
                {{ form.linkedin.label }}:
                {{ form.linkedin }}
                <br>

                <!-- Submit Field -->
                {{ form.submit }}
            </form>
        </div>
</div>


{% endblock %}